<a href="https://colab.research.google.com/github/Viado03/OOP-1-2/blob/main/OOP_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Python Classes and Objects

Create a Class

In [1]:
class MyClass:
  pass

In [2]:
class OOP1_2:
  X = 6
  print(X)

6

Create Objects

In [7]:
class OOP1_2:
  def __init__(self,name,age): #double underscore like __init__
    self.name = name    #attributes
    self.age = age

  def identity(self):
    print(self.name,self.age)

person = OOP1_2("Arvin",18)


print(person.name)
print(person.age)
print(person.identity)

Arvin
18

In [8]:
del(person.name)

In [9]:
print(person.name)

AttributeError: ignored

In [10]:
print(person.age)

18

Appplication 1 - Write a Python program that computes the area of a square, and name its class as Square, side as attribute

In [18]:
class Square:
  def __init__(self,sides):
    self.sides = sides

  def area(self):
    return self.sides*self.sides #formula to compute the area of the square
  
  def display(self):
    print("the area of the square is", self.area())

square = Square(4)


print(square.sides)
square.display()

4
the area of the square is 16

Application 2- Write a Python program that displays your full name. age, course, school. Create a class named Myclass, and name, age, school, course as attributes

In [23]:
class OOP1_2:
  def __init__(self,name,age,course,school):
    self.name = name
    self.age = age
    self.course = course
    self.school = school
    
  def identity(self):
    print(self.name,self.age,self.course,self.school)

student = OOP1_2("VIADO JHON ARVIN T", 18, "Bachelor of Science in Computer Engineering", "Cavite State University")

print(student.name)
print(student.age)
print(student.course)
print(student.school)

VIADO JHON ARVIN T
18
Bachelor of Science in Computer Engineering
Cavite State University